doctype 5
html
	head
		title StreetMap by Ele
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDMBtF2tCkYSNzMl4OqRlUHj7ahkgUFU_A&sensor=false&region=GB")
		include ./../script_StreetMap.js
		include style_StreetMap.css
	body
		h1 StreetMap
		div#GoogleMap
		div#Store_info
				