<!-- <!doctype>

<html>
<head>
	<meta charset="utf-8">
	<title>StreetMap by Eleonore</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDMBtF2tCkYSNzMl4OqRlUHj7ahkgUFU_A&sensor=false&region=GB">
	</script>
	<script src="/script_StreetMap.js"></script>
	<link rel="stylesheet" href="style_StreetMap.css"
		type="text/css">
</head>
<body>
	<h1>StreetMap</h1>
	<div id="GoogleMap"></div>
	<div id="Store_info">
		<ol class="Stores"></ol>
	</div>
</body>
</html> -->